<a href="https://colab.research.google.com/github/dannyvas23/AnalisisDataset/blob/main/Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
#filename = "/content/test_2 (1).csv"
url="https://raw.githubusercontent.com/dannyvas23/AnalisisDataset/main/star_classification.csv" #importado desde el GitHub

In [3]:
 #df = pd.read_excel(filename)
df= pd.read_csv( url , sep=',' )
df.head(5)

         obj_ID       alpha      delta  ...  plate    MJD  fiber_ID
0  1.237661e+18  135.689107  32.494632  ...   5812  56354       171
1  1.237665e+18  144.826101  31.274185  ...  10445  58158       427
2  1.237661e+18  142.188790  35.582444  ...   4576  55592       299
3  1.237663e+18  338.741038  -0.402828  ...   9149  58039       775
4  1.237680e+18  345.282593  21.183866  ...   6121  56187       842

[5 rows x 18 columns]

In [4]:
print(df.dtypes)

obj_ID         float64
alpha          float64
delta          float64
u              float64
g              float64
r              float64
i              float64
z              float64
run_ID           int64
rerun_ID         int64
cam_col          int64
field_ID         int64
spec_obj_ID    float64
class           object
redshift       float64
plate            int64
MJD              int64
fiber_ID         int64
dtype: object

In [5]:
df['obj_ID'] = df['obj_ID'].astype('int64')
df['spec_obj_ID'] = df['spec_obj_ID'].astype('int64')
#df['redshift'] = df['redshift'].astype('int64')

In [6]:
df.head(5)

                obj_ID       alpha      delta  ...  plate    MJD  fiber_ID
0  1237660961327743232  135.689107  32.494632  ...   5812  56354       171
1  1237664879951151104  144.826101  31.274185  ...  10445  58158       427
2  1237660961330430208  142.188790  35.582444  ...   4576  55592       299
3  1237663478724297984  338.741038  -0.402828  ...   9149  58039       775
4  1237680272041378048  345.282593  21.183866  ...   6121  56187       842

[5 rows x 18 columns]

In [7]:
t = {'GALAXY':'?','QSO':'?','STAR':'?'}
df['class_value'] = df['class'].map(t)
df.head(5)

                obj_ID       alpha      delta  ...    MJD  fiber_ID  class_value
0  1237660961327743232  135.689107  32.494632  ...  56354       171            ?
1  1237664879951151104  144.826101  31.274185  ...  58158       427            ?
2  1237660961330430208  142.188790  35.582444  ...  55592       299            ?
3  1237663478724297984  338.741038  -0.402828  ...  58039       775            ?
4  1237680272041378048  345.282593  21.183866  ...  56187       842            ?

[5 rows x 19 columns]

In [8]:
train, test = train_test_split(df, test_size = 0.20) #division

In [9]:
test.head(5)

                    obj_ID       alpha      delta  ...    MJD  fiber_ID  class_value
33422  1237668330964385536  243.111094   8.566329  ...  55712       543            ?
84431  1237667430101221632  158.299174  24.810405  ...  57488       189            ?
65301  1237678859013718272   12.245349  12.395072  ...  56245       460            ?
26020  1237665025446117632  196.549953  34.779720  ...  58173        84            ?
27785  1237670961624317952   37.933616  26.799303  ...  53762       427            ?

[5 rows x 19 columns]

In [11]:
train_reset=train.set_index('obj_ID')
test_reset=test.set_index('obj_ID')

In [12]:
test_reset.head(5)

                          alpha      delta  ...  fiber_ID  class_value
obj_ID                                      ...
1237667736111874304  166.207019  22.223682  ...       564            ?
1237651737389629952  230.363331   2.573964  ...       843            ?
1237664817676878080  182.954587  36.576581  ...       625            ?
1237678617430589952   29.089026   1.163502  ...       892            ?
1237660764844523520  145.949475  38.024361  ...       491            ?

[5 rows x 18 columns]

In [13]:
print("Ejemplos usados para entrenar: ", len(train_reset))
print("Ejemplos usados para test: ", len(test_reset))

Ejemplos usados para entrenar:  80000
Ejemplos usados para test:  20000

In [14]:
ruta = "/content/test_2.csv" #ruta y nombre de archivo
test_reset.to_csv(ruta)

In [15]:
ruta = "/content/train_2.csv" #ruta y nombre de archivo
train_reset.to_csv(ruta)